{% extends "personal/header.html" %}

{% block content %}
			<section id="main" class="wrapper">
				<div class="inner">
				    <div id="heading" >
						<h1>Contact Us</h1>
					</div>
					<div class="content">
						<header>
							<h2>Corporate Address: </h2>
						</header>
						<p> 610, Metro View Appartements Dwarka Sector 13, Delhi</p>
						
						<header>
							<h2>Email Address: </h2>
						</header>
						<p><a href="mailto:info@yasikan.com"> info@yasikan.com </a><p>
						</header>
						<header>
							<h2>Contact no: </h2>
						</header>
						<p> 1800-811-9876<p>
												
					</div>
				</div>
			</section>
{% endblock %}