<!--<!DOCTYPE html>
<html lang="en">
</head>

<body>-->
{% extends "personal/header.html" %}

{% block content %}
	<h1> Credit Card Enquiry</h1>
	<form method="POST">
		{% csrf_token %}
		<p> First Name:{{ form.firstName }}</p>
		<p> Occupation Type:{{ form.occupation_type }}</p>
		
		<p> Annual Income :{{ form.annual_income }} </p>
		<p> Pincode: {{form.pincode}}</p>
		<p> Email{{ form_booked.email }}</p>
		<p> Mobile: {{form.mobile}}</p>
		<p> Company Name:{{ form.company_name }}</p>
		<p> Offer ID:{{ form.offer_id }}</p>
		
		
		<p><button type="submit"> Submit	</button> </p>
	</form>
	
{% endblock %}	
	
</body>
</html>